credentials:
  system:
    domainCredentials:
    - credentials:
      - usernamePassword:
          id: "dockerhub_inclemenstv"
          username: "username"
          password: "password"
          description: "Sample credentials of dockerhub"
          scope: GLOBAL
jobs:
  - script: >
      folder('test1'){
        pipelineJob('test1/seedJobTest') {
          description 'seedJobTest'
          logRotator {
            daysToKeep 10
          }
          definition {
            cpsScm {
              scm {
                git {
                  remote {
                    url 'https://github.com/inclemenstv/PipelineWithDocker.git'
                  }
                  branches '*/main'
                  scriptPath 'Jenkinsfile'
                  extensions { }
                }
              }
            }
          }
          configure { project ->
            project / 'properties' / 'EnvInjectJobProperty' {
              'on'('true')
              'info' {
                'propertiesContent'('BRANCH=main')
              }
            }
            project / 'properties' / 'org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty' {}
          }
        }
      }

